@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #392330;
  background-color: #f5eee4;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

.h2 {
  margin-bottom: 5px;
}
.h2 span {
  border-bottom: 2px solid #ce9c77;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.small {
  font-size: small;
  opacity: 70%;
}

.title {
  font-size: xx-large;
}

.subtitle {
  margin-top: 10px;
  font-size: large;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.jumbotron {
  text-align: center;
  margin: 32px;
  display: flex;
  flex-direction: row;
  /* vertical-align: middle; */
}

.jumbotron .left {
  margin: auto;
  padding: 20px;
  flex-direction: column;
  flex-basis: 45%;
  flex-grow: 1;
}

.jumbotron .right {
  margin: 20px auto;
  flex-direction: column;
  flex-basis: 55%;
  flex-grow: 1;
}

.jumbotron img {
  width: 100%;
  border-radius: 14px;
}

.search {
  text-align: center;
  margin: 10vh 32px;
  padding: 0;
  display: block;
}

.search input {
  padding: 10px;
  font-size: larger;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ce9c77;
  width: 100%;
}

.book-container {
  margin: 10vh 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding:16px;
}

.book-container .book {
  display: table-cell;
  padding: 10px;
}

.button-primary {
  margin: 40px auto;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 20px;
  background-color: #392330;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s ease 0s;
}

.button-primary:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 0%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  transform: skewX(-45deg);
  transition: width .3s;
}

.button-primary:hover:after, .button-primary:active:after {
  width: 120%;
}

.button-add {
  display: block;
  position: relative;
  text-align: center;
  background-color: #392330;
  color: #ffffff;
  margin: 10px auto 0px auto;
  padding: 10px 20px;
  width: 100%;
  border: 0;
  border-radius: 100px;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s ease 0s;
}

.button-add:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 0%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  transform: skewX(-45deg);
  transition: width .3s;
}

.button-add .active,
.button-add:hover:after {
  width: 120%;
}

.button-clear {
  display: block;
  position: relative;
  text-align: center;
  background-color: #b88863;
  color: #ffffff;
  margin: 10px auto 0px auto;
  padding: 10px 20px;
  width: 100%;
  border: 0;
  border-radius: 100px;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s ease 0s;
}

.button-clear:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 0%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  transform: skewX(-45deg);
  transition: width .3s;
}


.button-clear:hover:after {
  width: 120%;
}

.button-save {
  display: none;
  text-align: center;
  background-color: #035a54;
  color: #ffffff;
  margin: 10px auto 0px auto;
  padding: 10px 20px;
  width: 100%;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}

.button-save .active,
.button-save:hover {
  background-color: #392330;
}

.button-finish,
.button-unfinish {
  display: inline;
  background-color: #035a54;
  color: #ffffff;
  margin: 10px 5px 0px auto;
  padding: 5px 10px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.button-finish .active,
.button-unfinish .active,
.button-finish:hover,
.button-unfinish:hover {
  border: 0;
  background-color: #392330;
}

.button-edit {
  display: inline;
  background-color: #f5eee4;
  color: #392330;
  margin: 10px 5px 0px auto;
  padding: 5px 10px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.button-edit .active,
.button-edit:hover {
  filter: brightness(0.9);
}

.button-delete {
  display: inline;
  background-color: #ce9c77;
  color: #ffffff;
  margin: 10px auto 0px auto;
  padding: 5px 10px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.button-delete .active,
.button-delete:hover {
  border: 0;
  background-color: #b88863;
}

.form-container {
  margin: 0.8rem auto;
  padding: 20px;
  display: none;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: #392330;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

section {
  margin: 70px auto;
}

.action {
  display: flex;
  margin: auto 22px;
}

.action > * {
  margin: auto 10px;
}

.list-group {
  width: 100%;
  margin: 1rem auto;
}

.list-group-item {
  margin: 10px auto;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  gap: 0.5rem !important;
  align-items: baseline;
}

.book-detail {
  margin: 5px auto;
}

.book-action {
  margin: 5px auto;
}

footer {
  text-align: center;
  color: #ffffff;
  background-color: #ce9c77;
  padding: 7vh 0;
}

footer a {
  text-decoration: none;
  color: #f5eee4;
}

footer a:hover,
footer a:active {
  text-decoration: none;
  color: #035a54;
}

@media (max-width: 600px), (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .jumbotron {
    text-align: center;
    margin: 18vh 32px;
    display: block;
  }

  .jumbotron .left {
    margin: 20px auto;
    padding: 20px;
  }

  .jumbotron .right {
    margin: 20px auto;
  }

  .book-container {
    display: block;
  }
}
